{% extends "base/portfolio.html" %}
{% block content %}

<div class="container mt-5">

    <form class="card p-3 bg-light" action="{{ url_for('alert.add_alert') }}" method="post">
        <legend class="mb-3">Add new alert:</legend>

        {{ form.hidden_tag() }}
        {% for field in form %}
        <div class="row 3 align-items-center mt-2">
            {% if field.errors %}
            {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
            <div class="col-2">
                {% if field.widget.input_type != 'hidden' %} {{ field.label }} {% endif %}
            </div>
            <div class="col-sm-1">
                {{ field }}
            </div>
        </div>
        {% endfor %}

        <div>
            <button type="submit" class="btn btn-success mt-2">Submit</button>
        </div>

    </form>
</div>

{% endblock %}