{% extends "base/portfolio.html" %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-success">
            Incomplete positions of: {{ portfolio.name }}
        </h2>

        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        
    </div>

    <!-- # TODO Move Delete to right, add icons near card headrs. ex questrade logo and cutom logo. -->
  
    <div class="container mt-4 mb-3">
      <div class="card"></div>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Symbol</th>
                  <th scope="col">Incomplete Quantity</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                {% for symbol, quantity in deficient_positions.items() %}
                <tr>
                  <td>{{ symbol }}</td>
                  <td>{{ quantity }}</td>
                  <td>
                    <a href="{{ url_for('order.add_order', portfolio_name=portfolio.name, symbol=symbol, required_amount=quantity) }}" class="btn bg-warning">Complete Position</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
{% endblock %}