{% extends "base/portfolio.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-success">
        My Portfolios:
    </h2>

    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

</div>

{% for report in report_list %}
<div class="container mt-4 mb-3">
    <div class="card">
        <h5 class="card-header">

            <div class="row">
                <div class="col-8">
                    {{ report.source }} Portfolio: {{ report.name }}
                </div>
                <div class="col-4 text-end">
                    Portfolio creation date: {{report.date.strftime('%Y-%m-%d') }}
                </div>
            </div>
        </h5>
        <div class="row">
            <div class="col-9">
                <div class="card-body">

                    <p class="card-text">Reporting currency: {{ report.reporting_currency }}</p>
                    <p class="card-text">Total market value: {{ report.reporting_currency }}</p>











                </div>
            </div>
            <div class="col align-self-center">
                <div class="row justify-content-center mt-4 mb-4">
                    <div class="col-10">
                        <div class="card">
                            <h5 class="card-header text-center bg-success text-white bg-gradient">
                                Actions
                            </h5>
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-11">
                                        <ul class="list-group">
                                            <a href="" class="btn btn-outline-success">Manage Alerts</a>
                                            <a href="" class="btn btn-outline-success mt-2">View Reports</a>
                                            {% if report.portfolio_tag == portfolio_tag.regular %}
                                            <a href="{{ url_for('portfolio.set_portfolio_primary', portfolio_id=report.id) }}"
                                                class="btn btn-outline-success mt-2">Set Portfolio as Primary</a>
                                            {% endif %}
                                            <a href="{{ url_for('portfolio.edit_portfolio', portfolio_id=report.id) }}"
                                                class="btn btn-outline-success mt-2">Edit Portfolio</a>
                                            <a href="{{ url_for('order.add_order', portfolio_id=report.id) }}"
                                                class="btn btn-outline-success mt-2">Add Order</a>
                                            <a href="{{ url_for('portfolio.delete_portfolio', portfolio_id=report.id) }}"
                                                class="btn btn-outline-danger mt-2">Delete Portfolio</a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}