{% extends "base/portfolio.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-success">
        My Portfolios:
    </h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


</div>


{% for port in port_list %}
<div class="container mt-4 mb-3">
    <div class="card">
        <h5 class="card-header">

            <div class="row">
                <div class="col-8">
                    Portfolio: {{ port["Name"] }}
                </div>
                <div class="col-4 text-end">
                    Portfolio creation date: {{port["Creation date"].strftime('%Y-%m-%d') }}
                </div>
            </div>
        </h5>
        <div class="row">
            <div class="col-9">
                <div class="card-body">

                    <p class="card-text">Reporting currency: {{ port["Reporting currency"] }}</p>
                    <p class="card-text">Total market value: {{ port["Total market value"] }}</p>
                    <p class="card-text">Benchmark: {{ port["Benchmark"] }}</p>

                    <div class="card">

                        <h6 class="card-header">
                            Open Positions
                        </h6>

                        <div class="card-body">

                            <table class="table">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col">Name</th>
                                        <th scope="col">Security Type</th>
                                        <th scope="col">Currency</th>
                                        <th scope="col">Market Cap</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for position in port["Positions"] if position["Open"] %}
                                    <tr class="text-center">

                                        <td class="align-middle">{{ position["Name"] }}</td>
                                        <td class="align-middle">{{ position["Security Type"] }}</td>
                                        <td class="align-middle">{{ position["Currency"] }}</td>
                                        <td class="align-middle">{{ position["Market Cap"] }}</td>
                                        <td class="align-middle">

                                            <a href="{{ url_for('position.position_details', position_id=position['ID']) }}"
                                                class="btn btn-outline-success">View details</a>
                                            <a href="{{ url_for('position.close_position', position_id=position['ID']) }}"
                                                class="btn btn-outline-danger">Close Position</a>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col align-self-center">
                <div class="row justify-content-center mt-4 mb-4">
                    <div class="col-10">
                        <div class="card">
                            <h5 class="card-header text-center bg-success text-white bg-gradient">
                                Actions
                            </h5>
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-11">
                                        <ul class="list-group">
                                            <a href="{{ url_for('alert.list_alerts', portfolio_id=port['id']) }}"
                                                class="btn btn-outline-success">Manage Alerts</a>
                                            {% if port["Primary"] == False%}
                                            <a href="{{ url_for('portfolio.set_portfolio_primary', portfolio_id=port['id']) }}"
                                                class="btn btn-outline-success mt-2">Set Portfolio as Primary</a>
                                            {% endif %}
                                            <a href="{{ url_for('portfolio.edit_portfolio', portfolio_id=port['id']) }}"
                                                class="btn btn-outline-success mt-2">Edit Portfolio</a>
                                            <a href="{{ url_for('order.add_order', portfolio_id=port['id']) }}"
                                                class="btn btn-outline-success mt-2">Add Order</a>
                                            <a href="{{ url_for('portfolio.delete_portfolio', portfolio_id=port['id']) }}"
                                                class="btn btn-outline-danger mt-2">Delete Portfolio</a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}