{% extends "base/portfolio.html" %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-success">
            Positions of: {{ portfolio.name }}
        </h2>

        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        
    </div>

    <!-- # TODO Move Delete to right, add icons near card headrs. ex questrade logo and cutom logo. -->
    {% for position in position_list %}
        <div class="container mt-4 mb-3">
            <div class="card"></div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}