<div class="card">

    <h6 class="card-header">
        Open Positions
    </h6>

    <div class="card-body">


        <table class="table">
            <thead>
                <tr class="text-center">
                    {% for key in report.position_attributes_map.keys() %}
                    <th scope="col">{{ key }}</th>
                    {% endfor %}
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for position in report.positions %}
                <tr class="text-center">
                    {% for attr in report.position_attributes_map.values() %}
                    <td class="align-middle">{{ position[attr] }}</td>
                    {% endfor %}
                    <td class="align-middle">

                        <a href="" class="btn btn-outline-success">View details</a>
                        <a href="" class="btn btn-outline-danger">Close Position</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>