<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

        <title>Portfolio Engineer</title>
    </head>
    <header>
        <nav class="navbar navbar-default navbar-static-top navbar-expand-lg bg-success">
            <div class="container">
                <a class="navbar-brand text-white" href="{{ url_for('home') }}">Portfolio Engineer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link text-white" href="{{ url_for('portfolio.account_list') }}">My Portfolios</a>
                        <a class="nav-item nav-link text-white" href="">My Alerts</a>
                        <a class="nav-item nav-link text-white" href="">Log out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <body>
        {% block content %}

        {% endblock %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>  
    </body>
</html>