{% extends "base/account.html" %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-success">
            Please choose a portfolio:
        </h2>
    </div>

    {% for portfolio in port_list %}
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    {{ portfolio.source }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Portfolio name: {{ portfolio.name }}</h5>
                    <p class="card-text">Account status is {{ portfolio.status }} and type is {{ portfolio.portfolio_type }}.</p>
                    <a href="{{ url_for('portfolio.overview') }}" class="btn bg-warning">View Portfolio</a>
                    <a href="" class="btn bg-info">Edit Portfolio</a>
                    <a href="" class="btn bg-danger text-white">Delete Portfolio</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}