{% extends "base/account.html" %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-success">
            Please choose a portfolio:
        </h2>

        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        
    </div>

    <!-- # TODO Move Delete to right, add icons near card headrs. ex questrade logo and cutom logo. -->
    {% for portfolio in port_list %}
        <div class="container mt-4 mb-3">
            <div class="card">
                <div class="card-header">
                    {{ portfolio.source }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Portfolio name: {{ portfolio.name }}</h5>
                    <p class="card-text">Account status is {{ portfolio.status }} and type is {{ portfolio.portfolio_type }}.</p>
                    <a href="{{ url_for('portfolio.list_positions', portfolio_name=portfolio.name) }}" class="btn bg-warning">View Portfolio</a>
                    <a href="{{ url_for('account.edit_portfolio', portfolio_name=portfolio.name) }}" class="btn bg-info">Edit Portfolio</a>
                    <a href="{{ url_for('account.delete_portfolio', portfolio_name=portfolio.name) }}" class="btn bg-danger text-white">Delete Portfolio</a>
                    <!-- Modal -->
                    <!--
                    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="ModalCenter">Confirm Deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this portfolio permanently?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{{ url_for('account.delete_portfolio', portfolio_name=portfolio.name) }}" class="btn bg-danger text-white">Delete Portfolio</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    //-->
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}