{% extends "base_portfolio.html" %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-success">
            Please choose a portfolio:
        </h2>
    </div>

    {% for portfolio in portfolioList %}
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                Questrade
                </div>
                <div class="card-body">
                <h5 class="card-title">Portfolio ID: {{ portfolio.number }}</h5>
                <p class="card-text">Account status is {{ portfolio.status }} and type is {{ portfolio.accountType }}.</p>
                <a href="{{ url_for('portfolio.portfolio_overview', portfolio=portfolio) }}" class="btn btn-primary">Portfolio Summary</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}