{% extends "base/portfolio.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-success">
        Position details:
    </h2>

</div>

<div class="container mt-4 mb-3">
    <div class="card">
        <h5 class="card-header">

            <div class="row">
                <div class="col-8">
                    Name: {{ position["Name"] }}
                </div>
            </div>
        </h5>
        <div class="row">
            <div class="col-12">
                <div class="card-body">

                    <p class="card-text">Symbol: {{ position.security.symbol }}</p>
                    <p class="card-text">Instrument type: {{ position.security.security_type }}</p>
                    <p class="card-text">Name: {{ position.security.name }}</p>
                    <p class="card-text">Current price: {{ position.security.value }}</p>
                    <p class="card-text">Total position value: {{ position.current_value() }}</p>

                    <div class="card">

                        <h6 class="card-header">
                            Orders
                        </h6>

                        <div class="card-body">

                            <table class="table">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col">Execution Time</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Cost</th>
                                        <th scope="col">Direction</th>
                                        <th scope="col">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in position.orders %}
                                    <tr class="text-center">

                                        <td class="align-middle">{{ order.time }}</td>
                                        <td class="align-middle">{{ order.quantity }}</td>
                                        <td class="align-middle">{{ order.cost }}</td>
                                        <td class="align-middle">{{ order.direction}}</td>

                                        <td class="align-middle">

                                            <a href="{{ url_for('order.edit_order', order_id=order.id) }}"
                                                class="btn btn-outline-success">Edit Order</a>
                                            <a href="{{ url_for('order.delete_order', order_id=order.id) }}"
                                                class="btn btn-outline-danger">Delete Order</a>

                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}