{% extends "base/portfolio.html" %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-success">
            Positions of: {{ portfolio.name }}
        </h2>

        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        
    </div>

    <!-- # TODO Move Delete to right, add icons near card headrs. ex questrade logo and cutom logo. -->
  
    <div class="container mt-4 mb-3">
      <div class="card"></div>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Type</th>
                  <th scope="col">Symbol</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Market Cap</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for position, price, mkt_cap in position_list %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>Type</td>
                  <td>{{ position.symbol }}</td>
                  <td>{{ position.quantity }}</td>
                  <td>{{ price }}</td>
                  <td>{{ mkt_cap }}</td>
                  <td>XYZ</td>
                  <td>
                    <a href="{{ url_for('order.list_orders', portfolio_name=portfolio.name, symbol=position.symbol) }}" class="btn bg-warning text-white">View Orders</a>
                    {% if portfolio.source == "Custom" %}
                    <a href="{{ url_for('position.close_position', portfolio_name=portfolio.name, symbol=position.symbol) }}" class="btn bg-danger text-white">Close Position</a>
                    {% endif %}
                  </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
{% endblock %}